<!--
    https://github.com/puikinsh/gentelella
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - ASP.NET Final</title>
    <!-- Bootstrap -->
    <link href="@Url.Content("~/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("~/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <!-- iCheck -->
    <link href="@Url.Content("~/vendors/iCheck/skins/flat/green.css")" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="@Url.Content("~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="@Url.Content("~/css/maps/jquery-jvectormap-2.0.3.css")" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/css/custom.css")" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @Html.ActionLink("Final", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-edit"></i> Search <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Employees", "SearchEmployees", "Home", new { area = "" })
                                        </li>
                                        <li>
                                            @Html.ActionLink("Products", "SearchProducts", "Home", new { area = "" })
                                        </li>
                                        <li>
                                            @Html.ActionLink("Transactions", "SearchTransactions", "Home", new { area = "" })
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Brand Report <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Market Share", "BrandMarketShare", "Home")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Financial Statistics <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Overview", "FinancialStatisticsOverview", "Home")
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <p>&copy; @DateTime.Now.Year - Benjamin Ward</p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    @Scripts.Render("~/vendors/jquery/dist/jquery.min.js")
    <!-- Bootstrap -->
    @Scripts.Render("~/vendors/bootstrap/dist/js/bootstrap.min.js")
    <!-- FastClick -->
    @Scripts.Render("~/vendors/fastclick/lib/fastclick.js")
    <!-- NProgress -->
    @Scripts.Render("~/vendors/nprogress/nprogress.js")
    <!-- Chart.js -->
    @Scripts.Render("~/vendors/Chart.js/dist/Chart.min.js")
    <!-- gauge.js -->
    @Scripts.Render("~/vendors/bernii/gauge.js/dist/gauge.min.js")
    <!-- bootstrap-progressbar -->
    @Scripts.Render("~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")
    <!-- iCheck -->
    @Scripts.Render("~/vendors/iCheck/icheck.min.js")
    <!-- Skycons -->
    @Scripts.Render("~/vendors/skycons/skycons.js")
    <!-- Flot -->
    @Scripts.Render("~/vendors/Flot/jquery.flot.js")
    @Scripts.Render("~/vendors/Flot/jquery.flot.pie.js")
    @Scripts.Render("~/vendors/Flot/jquery.flot.time.js")
    @Scripts.Render("~/vendors/Flot/jquery.flot.stack.js")
    @Scripts.Render("~/vendors/Flot/jquery.flot.resize.js")
    <!-- Flot plugins -->
    @Scripts.Render("~/js/flot/jquery.flot.orderBars.js")
    @Scripts.Render("~/js/flot/date.js")
    @Scripts.Render("~/js/flot/jquery.flot.spline.js")
    @Scripts.Render("~/js/flot/curvedLines.js")
    <!-- jVectorMap -->
    @Scripts.Render("~/js/maps/jquery-jvectormap-2.0.3.min.js")
    <!-- bootstrap-daterangepicker -->
    @Scripts.Render("~/js/moment/moment.min.js")
    @Scripts.Render("~/js/datepicker/daterangepicker.js")
    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/js/custom.js")
    @Scripts.Render("~/bundles/jqueryval")

    <!--@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)-->
</body>
</html>